.doctor-schedule-container {
    max-height: 400px;
    min-height: 300px;

    .all-schedule {

        .schedule-select {
            padding: 15px;

            select {
                border: none;
                color: #337ab7;
                border-bottom: 1px solid #ccc;
                background: transparent;
                border-radius: 0;
                font-weight: 600;
                padding: 3px;
                font-size: 15px;
            }
        }
    }

    .all-available-time {
        display: flex;
        flex-direction: column;

        .text-calender {
            padding-left: 15px;

            span {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;

                i {
                    padding-right: 5px;
                }
            }
        }

        .time-content {
            padding: 15px;
            margin-bottom: 40px;
            border-right: 1px solid #ccc;

            .time-content-btn {
                display: flex;
                flex-wrap: wrap;

                button {
                    margin: 5px 10px 5px 0;
                    min-width: 110px;
                    border: none;
                    font-weight: bold;
                    padding: 10px 15px;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 0px 2px #33b0e3 inset;
                    }
                }
            }

            .book-free {
                margin-top: 10px;
            }
        }
    }
}