.MedicalFacility-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .MedicalFacility {
        max-width: 1200px;
        min-width: 500px;
        height: 330px;

        .MedicalFacility-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            margin-top: 30px;
            height: 56px;

            h1 {
                font-size: 24px;
                font-weight: bold;
            }

            button {
                border: 1px solid transparent;
                // font-weight: 200;
                padding: 10px 15px;
                font-size: 11px;
                text-transform: uppercase;
                background: #f5f5f5;

                &:hover {
                    background-color: #f7d800;
                    border: 1px solid #f7d800;
                    color: #fff;
                }
            }
        }

        .section-list {
            .section-image {
                background-image: url('../../../assets/bvvietduc.jpg');
            }
        }

        
    }
}